<!DOCTYPE html>
<html lang="ru">
{% load static %}
  <head>    
    <meta charset="utf-8">
    <meta name="description content='Test task for an UpTrade company'">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tree_menu/images/favicons/web-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tree_menu/images/favicons/web-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'tree_menu/images/favicons/web-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="120x120" href="{% static 'tree_menu/images/favicons/web-120x120.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'tree_menu/images/favicons/android-192x192.png' %}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'tree_menu/images/favicons/apple-180x180.png' %}">
    <link color="#26E07F" rel="mask-icon" href="{% static 'tree_menu/images/favicons/macos-50x50.svg' %}">
    <meta name="msapplication-square70x70logo" content="{% static 'tree_menu/images/favicons/windows-70x70.png' %}">
    <meta name="msapplication-TileColor" content="#C0FFEE">
    <meta name="application-name" content="UpTrader">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>
      {% block title %}
        No name
      {% endblock title %}
    </title>
  </head>
  <body>       
    <header>
      {% include 'tree_menu/includes/header.html' %}
    </header>
    <main>
      {% block content %}
        There is no content
      {% endblock content %}
    </main>
    <footer class="border-top text-center py-3">
      {% include 'tree_menu/includes/footer.html' %} 
    </footer>
  </body>
</html>