{% if items %}
  {% for item in items %}
    {% if item.parent.title == parent %}
      <li>
        <a href="{% url 'tree_menu:slug' item.slug %}">
          {{ item.title }}
        </a>
      </li>
      {% comment %} {{ slug }}<br>
      {{ button }} {% endcomment %}
      {% if slug == item.title %}
        <div class="ps-5">{% include 'tree_menu/template_tags/menu.html' with parent=item.title items=items button=slug%}</div>
      {% elif slug == button %}
        <!-- continue -->
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
