{% if items %}
  {% for item in items %}
    {% if item.parent.title == parent %}
      <li>
        <a href="{% url 'tree_menu:slug' item.slug %}">
          {{ item.title }}
        </a>
      </li>
      {% if slug == button %}
        <!-- continue -->
      {% elif item.title in path %}
        <div class="ps-5">
          {% include 'tree_menu/template_tags/menu.html' with items=items slug=slug parent=item.title button=item.slug %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
